In [ ]:
#Dataframes
 #comes is a powerful tool that allows us to store and manipulate data in a structured way, similar to an Excel
 #  spreadsheet or a SQL table

In [2]:
#empty dataFrame
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
lst = [1 , 2, 3, 4 , "kernel" , "khureshi"] #unamed column name
df = pd.DataFrame(lst)
print(df)

          0
0         1
1         2
2         3
3         4
4    kernel
5  khureshi

In [ ]:
import numpy as np
import pandas as pd
data = np.array([[1,2,3] , [4,5,6] , [7,8,9]])
df = pd.DataFrame(data , columns = ['col1' , 'col2' , 'col3'] ) # named columns
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [6]:
import pandas as pd
data = {'Name' : ['Alice' , 'Bob' , 'Donga'] , 'Age' : [23 , 67 , 78] , 'city' : ['Delhi' , 'Mumbai' , 'dheradhun']}
df = pd.DataFrame(data)
print(df)

    Name  Age       city
0  Alice   23      Delhi
1    Bob   67     Mumbai
2  Donga   78  dheradhun

In [7]:
#Dataframes Index
import pandas as pd
data = {'Name' : ['Alice' , 'Bob' , 'Gunjan' , 'Alice'] , 'age' : [23 , 45 , 67 , 89] , 'city' : ['delhi' , 'Harish' , 'Kanakpur' , 'Mumbai'],
        'Gender' : ['F' , 'M' , 'F' , 'M']}
df = pd.DataFrame(data , index = ['a' , 'b' , 'c' , 'd'])
print(df)

     Name  age      city Gender
a   Alice   23     delhi      F
b     Bob   45    Harish      M
c  Gunjan   67  Kanakpur      F
d   Alice   89    Mumbai      M

In [8]:
df_name_index = df.set_index('Name')
print(df_name_index)

        age      city Gender
Name
Alice    23     delhi      F
Bob      45    Harish      M
Gunjan   67  Kanakpur      F
Alice    89    Mumbai      M

In [10]:
#Indexing with loc
print(df.loc[df['Name'] == 'Alice'])

    Name  age    city Gender
a  Alice   23   delhi      F
d  Alice   89  Mumbai      M

In [ ]:
#Pandas Access DataFrames

In [ ]:
data2 = {
  'Name': ['Alice', 'Bob', 'Gunjan', 'Manu'],
  'age': [23, 45, 67, 89],
  'city': ['delhi', 'Harish', 'Kanakpur', 'Mumbai'],
  'Gender': ['F', 'M', 'F', 'M']
}

df2 = pd.DataFrame(data2)
#accessing via row
print(df2.iloc[0]) #first row - iloc for index based labelling
#accessing via column
print(df2['Name']) #name column

Name      Alice
age          23
city      delhi
Gender        F
Name: 0, dtype: object
0     Alice
1       Bob
2    Gunjan
3      Manu
Name: Name, dtype: object

In [14]:
subset = df.iloc[0:3][['Name', 'age']]
print(subset)

     Name  age
a   Alice   23
b     Bob   45
c  Gunjan   67

In [16]:
# Access rows where 'Age' is greater than 25
filtered_data = df[df['age'] > 25]
print(filtered_data)

     Name  age      city Gender
b     Bob   45    Harish      M
c  Gunjan   67  Kanakpur      F
d   Alice   89    Mumbai      M

In [20]:
# Access the 'Salary' of the row with label 2

df['Salary'] = [50000, 60000, 70000, 80000]  # Example salaries
salary_at_index_2 = df.at['c', 'Salary']
print(salary_at_index_2)

70000

In [ ]:
#Indexing and selecting data

In [24]:
import pandas as pd
data = pd.read_csv('industry.csv')
print(data.head())
print(data.tail())

first = data['City']
print(first)

     City  Sales  Year
0   Delhi    200  2023
1   Delhi    150  2024
2  Mumbai    300  2023
3  Mumbai    250  2024
     City  Sales  Year
0   Delhi    200  2023
1   Delhi    150  2024
2  Mumbai    300  2023
3  Mumbai    250  2024
0     Delhi
1     Delhi
2    Mumbai
3    Mumbai
Name: City, dtype: object

In [26]:
row = data[data['City'] == "Delhi"]
print(row)

    City  Sales  Year
0  Delhi    200  2023
1  Delhi    150  2024

In [27]:
result = data.query("Sales > 200 and City == 'Mumbai'")
print(result)

     City  Sales  Year
2  Mumbai    300  2023
3  Mumbai    250  2024

In [ ]:
#Slicing Pandas Dataframe 
player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

df = pd.DataFrame(player_list, columns=['Name', 'Age', 'Weight', 'Salary'])
print(df)

In [28]:
df1 = df.iloc[0:4]
print(df1)

     Name  age      city Gender  Salary
a   Alice   23     delhi      F   50000
b     Bob   45    Harish      M   60000
c  Gunjan   67  Kanakpur      F   70000
d   Alice   89    Mumbai      M   80000

In [1]:
#Filtering DataFrames
import pandas as pd

dataFrame = pd.DataFrame({'Name': [' RACHEL  ', ' MONICA  ', ' PHOEBE  ',
                                   '  ROSS    ', 'CHANDLER', ' JOEY    '],
                          
                          'Age': [30, 35, 37, 33, 34, 30],
                          
                          'Salary': [100000, 93000, 88000, 120000, 94000, 95000],
                          
                          'JOB': ['DESIGNER', 'CHEF', 'MASUS', 'PALENTOLOGY',
                                  'IT', 'ARTIST']})

display(dataFrame.loc[(dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')),
                    ['Name','JOB']])

        Name       JOB
0   RACHEL    DESIGNER

In [ ]:
#Filtering using numpy
import pandas as pd
import numpy as np

dataFrame = pd.DataFrame({'Name': [' RACHEL  ', ' MONICA  ', ' PHOEBE  ',
                                   '  ROSS    ', 'CHANDLER', ' JOEY    '],
                          
                          'Age': [30, 35, 37, 33, 34, 30],
                          
                          'Salary': [100000, 93000, 88000, 120000, 94000, 95000],
                          
                          'JOB': ['DESIGNER', 'CHEF', 'MASUS', 'PALENTOLOGY',
                                  'IT', 'ARTIST']})
                                  
filtered_values = np.where((dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')))
print(filtered_values)
display(dataFrame.loc[filtered_values])

(array([0]),)

        Name  Age  Salary       JOB
0   RACHEL     30  100000  DESIGNER

In [3]:
#Filtering using query()
import pandas as pd

dataFrame = pd.DataFrame({'Name': [' RACHEL  ', ' MONICA  ', ' PHOEBE  ',
                                   '  ROSS    ', 'CHANDLER', ' JOEY    '],
                          
                          'Age': [30, 35, 37, 33, 34, 30],
                          
                          'Salary': [100000, 93000, 88000, 120000, 94000, 95000],
                          
                          'JOB': ['DESIGNER', 'CHEF', 'MASUS', 'PALENTOLOGY',
                                  'IT', 'ARTIST']})

display(dataFrame.query('Salary  <= 100000 & Age < 40 & JOB.str.startswith("C").values'))

        Name  Age  Salary   JOB
1   MONICA     35   93000  CHEF

In [ ]:
import pandas as pd

data1 = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Msc', 'MA', 'MCA', 'Phd']}

data2 = {'Name': ['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'],
         'Age': [17, 14, 12, 52],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1, index=[0, 1, 2, 3])

df1 = pd.DataFrame(data2, index=[4, 5, 6, 7])

frames = [df, df1]
res1 = pd.concat(frames)

res2 = pd.concat([df, df1], axis=1, join='inner') #only common values
res3 = pd.concat([df, df1], axis=1, sort=False) #all values
res4 = pd.concat([df, df1], ignore_index=True) #ignore index - when indexes of original dataframe are not relevent we ignore them
res5 = pd.concat(frames, keys=['x', 'y']) # labels each group based on sourced dataframe

In [ ]:
#Merging DataFrames
import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],}

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1)

df1 = pd.DataFrame(data2)

res1 = pd.merge(df, df1, on=['key', 'key1']) #using on argument

#Merging using how argument
res1 = pd.merge(df, df1, how='right', on=['key', 'key1'])
res2 = pd.merge(df, df1, how='outer', on=['key', 'key1'])
res3 = pd.merge(df, df1, how='inner', on=['key', 'key1'])
#join
res = df.join(df1)
res2 = df.join(df1, on='Key')

In [ ]:
#Joining DataFrames using multi_index_levels
import pandas as pd

data1 = {'Name':['Jai', 'Princi', 'Gaurav'],
        'Age':[27, 24, 22]}

data2 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kanpur'],
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1, index=pd.Index(['K0', 'K1', 'K2'], name='key'))

index = pd.MultiIndex.from_tuples([('K0', 'Y0'), ('K1', 'Y1'),
                                   ('K2', 'Y2'), ('K2', 'Y3')],
                                   names=['key', 'Y'])

df1 = pd.DataFrame(data2, index= index)


result = df.join(df1, how='inner')
result

In [ ]:
#Sorting DataFrames
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Score': [85, 90, 95, 80]}
df = pd.DataFrame(data)

sorted_df = df.sort_values(by=['Age', 'Score']) #can sort by one value also
df_sorted_by_index = df.sort_index()#sort by index
df_sorted_by_index_desc = df.sort_index(ascending=False)
sorted_df = df.sort_values(by='Age', kind='quicksort') #choosing sorting algorithm #other - mergesort, heapsort

In [ ]:
df = pd.DataFrame({'Product': ['Carrots', 'Broccoli', 'Banana', 'Banana',
                               'Beans', 'Orange', 'Broccoli', 'Banana'],
                   'Category': ['Vegetable', 'Vegetable', 'Fruit', 'Fruit',
                                'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
                   'Quantity': [8, 5, 3, 4, 5, 9, 11, 8],
                   'Amount': [270, 239, 617, 384, 626, 610, 62, 90]})

pivot = df.pivot_table(index=['Product', 'Category'],
                       values=['Amount'], aggfunc='sum')
pivot2 = df.pivot_table(index=['Product'], values=['Amount'],
                       aggfunc={'median', 'mean', 'min'})
print(pivot)

print(pivot2)

In [ ]:
#SERIES IN PANDAS

In [ ]:
#creating a pandas series
import pandas as pd
ser = pd.Series() #empty series - Series([], dtype: float64)

#using a array
import numpy as np
ser2 = np.array([1 , 2, 3, 4, 5] , index = ['a' , 'b' , 'c' , 'd' , 'e']) #index is optional
data = pd.Series(ser2)

#using a list
data_list = ['g', 'e', 'e', 'k', 's']
ser3 = pd.Series(data_list)

#using a dictionary
data_dict = {'Geeks': 10, 'for': 20, 'geeks': 30}
ser = pd.Series(data_dict)

ser = pd.Series(np.linspace(1, 10, 5))
print(ser)

ser4 = pd.Series(range(5, 15))

ser5=pd.Series(range(1,20,3), index=[x for x in 'abcdefg'])
print(ser5)

In [ ]:
#Binary operation on Series and DataFrame
import pandas as pd
ser = pd.Series([1,2,3,4] , index = ['a' , 'b' , 'c' , 'd'])
ser2 = pd.Series([7,8,9,10] , index=['a' , 'b' , 'c' , 'd'])

result = ser + ser2 #addition
result2 = ser == ser2 #comparison

df1 = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
df2 = pd.DataFrame({'A': [5, 15, 35], 'B': [30, 60, 55]})

result3 = df1 > df2
result4 = df1 - df2

s1 = pd.Series([True, False, True])
s2 = pd.Series([False, False, True])

# Applying logical AND - also supports OR , NOT , etc.
result = s1 & s2

In [ ]:
#Pandas Series Index Attribute
import pandas as pd

data = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# Accessing the index
print("Original Index:", data.index)

# Modifying the index
data.index = ['w', 'x', 'y', 'z']
print("Modified Series:\n", data)