In [5]:
import pandas as pd
df_csv=pd.read_csv("industry.csv")
print(df_csv.head())

                        Industry
0             Accounting/Finance
1   Advertising/Public Relations
2             Aerospace/Aviation
3  Arts/Entertainment/Publishing
4                     Automotive

In [9]:
df_excel = pd.read_excel("Technological-Products-Sample-Data.xlsx")
print(df_excel.head())

   Unnamed: 0                   Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0         NaN            Excel Sample Data        NaN        NaN
1         NaN                          NaN        NaN        NaN
2         NaN  Technological Products Data        NaN        NaN
3         NaN                          NaN        NaN        NaN
4         NaN                        Brand     Device      Model

          Unnamed: 4       Unnamed: 5   Unnamed: 6
0                NaN              NaN          NaN
1                NaN              NaN          NaN
2                NaN              NaN          NaN
3                NaN              NaN          NaN
4  Country of Origin  Date of Release  Price (USD)

In [12]:
data = {'Name' : ['Alice' , 'Bob' , 'Charlie'],
        'Age' : [25,30,35],
        'City' : ['Delhi' , 'Mumbai' , 'Kolkata']}
df=pd.DataFrame(data)
print(df.loc[0,"Name"])
print(df.loc[:,"City"])

print(df.iloc[1,2])
print(df.iloc[:,1])

Alice
0      Delhi
1     Mumbai
2    Kolkata
Name: City, dtype: object
Mumbai
0    25
1    30
2    35
Name: Age, dtype: int64

In [5]:
import pandas as pd
data2 = {'Name' : ['Alice' , 'Bob' , None],
        'Age' : [25 , None , 35],
         'City' : ['Delhi' , 'Mumbai' , 'Kolkata']}
df = pd.DataFrame(data2)
print(df.dropna())
print(df.fillna({'Name':'Unknown' , 'Age' : 0}))
print(df.drop("City" , axis=1))
print(df.rename(columns={"Name" : "FullName"}))

    Name   Age   City
0  Alice  25.0  Delhi
      Name   Age     City
0    Alice  25.0    Delhi
1      Bob   0.0   Mumbai
2  Unknown  35.0  Kolkata
    Name   Age
0  Alice  25.0
1    Bob   NaN
2   None  35.0
  FullName   Age     City
0    Alice  25.0    Delhi
1      Bob   NaN   Mumbai
2     None  35.0  Kolkata

In [6]:
data = {'City': ['Delhi', 'Delhi', 'Mumbai', 'Mumbai'],
        'Sales': [200, 150, 300, 250],
        'Year': [2023, 2024, 2023, 2024]}

df = pd.DataFrame(data)
print(df.groupby("City")["Sales"].mean())
print(df.groupby(["City", "Year"])["Sales"].sum())
print(df.pivot_table(values="Sales", index="City", columns="Year", aggfunc="sum"))

City
Delhi     175.0
Mumbai    275.0
Name: Sales, dtype: float64
City    Year
Delhi   2023    200
        2024    150
Mumbai  2023    300
        2024    250
Name: Sales, dtype: int64
Year    2023  2024
City
Delhi    200   150
Mumbai   300   250

In [7]:
df1 = pd.DataFrame({"ID": [1, 2], "Name": ["Alice", "Bob"]})
df2 = pd.DataFrame({"ID": [1, 2], "Age": [25, 30]})

print(pd.merge(df1, df2, on="ID"))
print(pd.concat([df1, df2], axis=0))   
print(pd.concat([df1, df2], axis=1))   

df1 = df1.set_index("ID")
df2 = df2.set_index("ID")
print(df1.join(df2))

   ID   Name  Age
0   1  Alice   25
1   2    Bob   30
   ID   Name   Age
0   1  Alice   NaN
1   2    Bob   NaN
0   1    NaN  25.0
1   2    NaN  30.0
   ID   Name  ID  Age
0   1  Alice   1   25
1   2    Bob   2   30
     Name  Age
ID
1   Alice   25
2     Bob   30

In [9]:
df.to_csv("industry.csv", index=False)
df.to_excel("industry.xlsx", index=False)